/* .text-color-header{
    color: rgba(245, 245, 245, 0.838) !important ;
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331!important;
    }
}
.view,body,html{
    height:100%
}
.navbar{
    background-color:rgba(0,0,0,.2)
}
.page-footer,.top-nav-collapse{
    background-color:#1C2331
}
@media only screen and (max-width:768px){
    .navbar{
        background-color:#1C2331
    }
}
.nav-inner{
    background-color: transparent;
}
.navbar{
    background-color: none !important ;
}
.nav-hight{
    height: 60px !important ;
} */